/* FUENTES

font-family: 'Cookie', cursive;
font-family: 'Quicksand', sans-serif;*/

body{
    font-family: 'Quicksand', sans-serif;
  }

  /* Header */

  header{
    font-family: 'Cookie', cursive;
    background-color: rgba(113, 74, 255, 0.137);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header h1 {
    padding: 8px;
    font-size: 4.1em;
  }
    
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cookie', cursive;
    color: #343a40
  }

  h3 {
    font-size: 2.45em !important;
    padding: .05em .4em !important;
    font-weight: bold !important;
  }

  h4{
    font-size: 1.4em !important;
  }

  .popover-body {
    font-size: 1.19em;
}

  #logo {
    width: 5em;
    height: 5em;
    margin: 1em;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 0.3s;
  }

  .hide {
    display: none;
  }

/*Start*/

#first-section {
  margin-top: 3.1em;
}

.name {
text-align: center;
align-items: center;
padding-top: 5rem;
}

figure{
  align-items: center;
  text-align: center;
  padding-top: 1rem;

}

#button-wallet{
  
  box-shadow: 10px 5px 5px green;
  border-radius: 5rem;
}

#button-wallet:hover{
  background-color: darkslategrey;
  border-radius: 5rem;
}

#input-name {
  height: 3em;
  width: 38%;
  margin-left: 1.2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

/* Home */

 label, input, select {
    font-family: 'Quicksand', sans-serif;
}

.text{
  font-size: x-large;
  font-weight: 900;
  font-style: italic;
}

input, select {
  width: 60%;
  margin: 0 2em 0 0;
  padding: 2px;
  border: 2px solid #ced4da;
  border-radius: 4px;
  font-size: .98em;
}

label {
  margin: 0 .3em 0 0;
  font-weight: bolder;
  font-size: 1.1em;
}

  /* Footer */

footer {
  padding: 3px;
  font-size: 16px;
  margin: 10px;
}

footer p {
  text-align: center;
  font-size: 18px;
}

/*img*/

#piggy-bank {
  height: 15em;
  float: right;
  margin-top: -2.5em;
}

#piggy-bank:focus {
outline-color: transparent !important;
}

/*
#add {
color: rgba(31, 204, 126, 0.952);
    color:rgba(8, 165, 94, 0.877);
    color: rgba(65, 34, 179, 0.911);
    color: rgba(39, 204, 44, 0.918);
    color: rgba(43, 179, 47, 0.925);
} */


  



