/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 425px) {
  header h1 {
    font-size: 3.1em;
  }

  input {
    min-width: 7em;
    margin: 0 .8em 0 0;
  }

  select {
    min-width: 6em;
    margin: 0 .8em 0 0;
  }

  #select-transaction {
    display: block !important;
  }

  label {
    margin-left: .2em;
  }

  #input-name {
    font-size: 1em;
    font-weight: bold;
  }

  #piggy-bank {
    height: 10em;
  }

  .col-4 {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 375px) {
  input {
    min-width: 6em;
    margin: 0 .8em 0 0;
  }

  select {
    min-width: 5.05em;
    margin: 0 .8em 0 0;
    border-left: 0 !important;
    padding-left: 0;
  }

  label {
    margin-left: .2em;
  }
}